src/parser/yy_location.hpp linguist-generated
src/parser/yy_parser.cpp linguist-generated
src/parser/yy_parser.hpp linguist-generated
src/parser/yy_scanner.cpp linguist-generated

src/parser/directives_hastable.cpp linguist-generated
src/parser/keywords_hastable.cpp linguist-generated

src/cxxopts.hpp linguist-vendored
src/subprocess.hpp linguist-vendored
